.dashboard-page {
	transition: ease-in-out 0.2s;
	display: flex;
	flex-direction: column;
	height: 100vh !important;
}

.dash-screen {
	padding-left: 4%;
	flex: 1;
}

.dash-drawer .MuiDrawer-paper {
	width: 256px !important;
	background-color: #111111 !important;
	color: white !important;
}