.dashboard-page {
	transition: ease-in-out 0.2s;
}

.dash-screen {
	padding-left: 4%;
}

.dash-drawer .MuiDrawer-paper {
	width: 256px !important;
	background-color: #111111 !important;
	color: white !important;
}