.navbar {
	background-color: #111111 !important;
}

.nav-head {
	font-weight: bold !important;
	font-size: 1.5rem !important;
	letter-spacing: 1.5px !important;
}

.nav-menu {
	display: flex;
	width: 100%;
	justify-content: flex-end !important;
}

.nav-links {
	display: flex !important;
	list-style: none;
	width: 100%;
	justify-content: flex-end;
}

.nav-links li {
	padding: 0 2% !important;
}

.nav-links li a {
	text-decoration: none;
	color: rgb(204, 204, 204);
	font-weight: 500;
	transition: ease-in 0.2s;
}

.nav-links li a:hover {
	color: #5757ff;
}