.action-btn {
	background-color: #5757ff !important;
	color: white !important;
	border-radius: 50px !important;
	font-family: "Inter", sans-serif !important;
	font-weight: bold !important;
	padding: 0 30px !important;
	height: 44px !important;
}